<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title>Projeto Agile Brazil - KANBAN Sketch</title>
	<style type="text/css">
		* { color: #000; margin: 0 auto; font-family:"Trebuvhet Ms", Verdana, Tahoma; font-size: 11px;}
		
		html, body { height: 100%; }
		* html #agile { height: 100%;}
		.clear { clear: both; }
		body { text-align: center; background-color:#DDD; }
		a { text-decoration: none; }
		a:hover { text-decoration: underline; }
		
		#agile { 
			text-align: justify;
			width: 800px;
			background-color: #FFF;
			min-height: 100%;
			position: relative;
		}
		
		#header {
			position: relative;
			height: 150px;
		}
		
		#header img {
			float: left;
			border: 0 none transparent;
		}
		
		#header h1.logo a:hover {
			text-decoration: none;
		}
		
		#header h1.logo {
			font-size: 10px;
			clear: both;
			margin-left: 25px;
		}
		
		#header h1.slogan {
			float: left;
			line-height: 150px;
			margin-left: 10px;
		}
		
		#header #nav {
			position: absolute;
			bottom: 10px;
			right: 0;
		}
		
		#header #nav li {
			float: right;
			width: 100px;
			list-style: none;
		}
		
		#header #nav li a {
			font-size: 12px;
		}
		
		#container {
			position: relative;
			margin-top: 50px;
		}
		
		#container #botoes .botao {
			float: left;
			/*width: 33.33%;*/
			min-height: 100px;
			height: auto;
			position: relative;
		}
		
		#container #botoes .botao.selected {
			border-right: 1px solid #000;
		}
		
		#container #botoes .botao.deploy {
			border-left: 1px solid #000;
		}
		
		#container #botoes .botao .dev .done {
			border-left: 1px solid #000;
		}
		
		#container #botoes .botao .dev .board {
			float: left;
			width: 49%;
			min-height: 100px;
			height: auto;
			position: relative;
		}
		
		#container #botoes .botao .dev .boardname {
			top: 15px;
			border-bottom: 1px solid #000;
		}
		
		#container #botoes .botao .boardname.padrao {
			height: 45px;
			line-height: 45px;
		}
		
		#container #botoes .botao span.deveplopment {
			line-height: 15px;
			height:14px;
			border-bottom: 1px solid #000;
		}
		
		#container #botoes .botao .boardname {
			background-color: #FFFFFF;
			display:block;
			height:30px;
			line-height:30px;
			position:absolute;
			text-align:center;
			top:0;
			width:100%;
			z-index:2147483647;
			border-bottom: 1px solid #000;
		}
		
		#container #botoes .botao ul {
			margin-top: 50px;
		}
		
		#container #botoes .botao ul li {
			display: block;
			width: 80%;
			min-height: 10px;
			height: auto;
			border: 1px solid #000;
			text-align: center;
			margin-bottom: 1%;
		}
		
		#form {
			text-align: center;
			margin: 20px auto;
			width: 800px;
		}
		
		#form textarea {
			display: block;
			width: 700px;
			height: 150px;
		}
		
		#footer {
			clear: both;
			position: absolute;
			bottom: 0;
			width: 100%;
			height: 30px;
			line-height: 30px;
			text-align: center;
		}
	</style>
</head>
<body>
	<div id="agile">
		<div id="header">
			<a href="#"><img src="" alt="" /></a>
			<h1 class="slogan"></h1>
			<h1 class="logo"><a href="#"></a></h1>
		</div>
		<div id="container">
			<div id="botoes">
				<div class="botao selected">
					<span class="boardname padrao">SELECTED</span>
					<ul>
						<li>F</li>
						<li>G</li>
					</ul>
				</div>
				<div class="botao">
					<span class="boardname deveplopment">DEVELOPMENT</span>
					<div class="dev">
						<div class="board">
							<span class="boardname">IN PROGRESS</span>
							<ul>
								<li>E</li>
							</ul>
						</div>
						<div class="board done">
							<span class="boardname">DONE!</span>
							<ul>
								<li>D</li>
								<li>C</li>
								<li>B</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="botao deploy">
					<span class="boardname padrao">DEPLOY</span>
					<ul>
						<li>A</li>
					</ul>
				</div>
			</div>
			<div class="clear"></div>
			<form id="form" action="" method="post">
				<textarea name="mensagem" id="mensagem" cols="50" rows="5"></textarea>
				<input type="submit" />
			</form>
			<div class="clear"></div>
		</div>
		<div id="footer">
			<p><a href="#">Projeto Agile Brazil</a> - KANBAN Sketch</p>
		</div>
	</div>
</body>
</html>